# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

.vs/
x64/Debug
x64/Release

Server/x64/Debug
Server/x64/Release

Client/x64/Debug
Client/x64/Release

DummyClient/x64/Debug
DummyClient/x64/Release



InClass/Server/x64/Debug
InClass/Server/x64/Release

InClass/Client/x64/Debug
InClass/Client/x64/Release

InClass/DummyClient/x64/Debug
InClass/DummyClient/x64/Release

InClass/SQL/x64/Debug
InClass/SQL/x64/Release

InClass/RIO/x64/Debug
InClass/RIO/x64/Release

InClass/SSY/x64/Debug
InClass/SSY/x64/Release

InClass/ASIO

Overlapped_IO_Callback/x64/Debug
Overlapped_IO_Callback/x64/Release

IOCP_Single_Thread/x64/Debug
IOCP_Single_Thread/x64/Release

IOCP_Muti_Thread/x64/Debug
IOCP_Muti_Thread/x64/Release
